<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/style.css">
	<meta charset="UTF-8">
	<title>Chat</title>
</head>
<body>
<div id="login">
	<form id="logForm" >
		<label for="logInput">Pseudo:</label>
		<input type="text" id="logInput" name="logInput" placeholder="Pseudo" autofocus>
		<input type="submit" value="Login">
	</form>
</div>
<div id="chat">
	<div id="msgContainer">
	</div>
</div>
<div id="message">
	<form id="chatForm" >
		<input type="text" id="chatMsg" name="chatMsg" placeholder="Send message" autocomplete="off">
		<input type="submit" value="Send message">
	</form>
</div>

<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
	(function () {
		// ADD MESSAGES CHARGING ON LOGIN AND HIDE CHAT BEFORE

		let myPseudo;

		const socket = io.connect('http://localhost:8080')

		function appendMsgContainer(item) {
			const msgContainer = document.getElementById('msgContainer');
			msgContainer.appendChild(item);

			while(msgContainer.offsetHeight > 500){	// IF TOO MUCH MSG
				let delMsg = msgContainer.firstChild;
				while (delMsg.nodeName !== "DIV"){
					delMsg = delMsg.nextSibling;
				}

				msgContainer.removeChild(delMsg);
			}
		}

		socket.on('msglog',function (message) {	// RECEIVING MESSAGES BEFORE LOGIN
			if(myPseudo) {
				const len = message['pseudos'].length;
				for(let i=0; i<len; i++){
					if(message['messages'][i] === '|'+myPseudo+'|') {
						// DON'T SHOW OWN LOGIN MESSAGES
					}else if (message['messages'][i] === '|'+message['pseudos'][i]+'|'){
						const join = document.createElement('div');
						join.setAttribute('class', 'message');

						const joinMsg = document.createElement('span');
						joinMsg.setAttribute('class', 'login');
						joinMsg.textContent = message['pseudos'][i] + ' joined the chat';

						join.appendChild(joinMsg);
						appendMsgContainer(join);
					}else{
						const msg = document.createElement('div');	// POSTING MSG
						msg.setAttribute('class', 'message');

						const pseudo = document.createElement('span');
						pseudo.setAttribute('class', 'pseudo');
						pseudo.textContent = message['pseudos'][i];

						const content = document.createElement('span');
						content.setAttribute('class', 'content');
						content.textContent = message['messages'][i];

						msg.appendChild(pseudo);
						msg.appendChild(content);

						appendMsgContainer(msg);
					}
				}
			}
		});
		socket.on('chat',function (message) {	// RECEIVING MESSAGE
			if(myPseudo) {
				const msg = document.createElement('div');	// POSTING MSG
				msg.setAttribute('class', 'message');

				const pseudo = document.createElement('span');
				pseudo.setAttribute('class', 'pseudo');
				pseudo.textContent = message['pseudo'];

				const content = document.createElement('span');
				content.setAttribute('class', 'content');
				content.textContent = message['message'];

				msg.appendChild(pseudo);
				msg.appendChild(content);

				appendMsgContainer(msg);
			}
		});
		socket.on('login',function (pseudo) {	// RECEIVING LOGIN
			if(myPseudo) {
				const join = document.createElement('div');
				join.setAttribute('class', 'message');

				const joinMsg = document.createElement('span');
				joinMsg.setAttribute('class', 'login');
				joinMsg.textContent = pseudo + ' joined the chat';

				join.appendChild(joinMsg);
				appendMsgContainer(join);
			}
		});

		document.getElementById('logForm').addEventListener('submit',function (e) {	// WHEN LOGIN
			e.preventDefault();

			const pseudo = document.getElementById('logInput').value;
			socket.emit('login', pseudo);
			myPseudo = pseudo;
			document.getElementById('login').style.display = 'none';
			document.getElementById('chat').style.display = 'block';
			document.getElementById('message').style.display = 'block';
			document.getElementById('chatMsg').focus();
		});

		document.getElementById('chatForm').addEventListener('submit',function (e) {	// WHEN SEND MSG
			e.preventDefault();

			const msg = document.getElementById('chatMsg');
			if(myPseudo && !/^\s+$/.test(msg.value) && msg.value !== '') {
				socket.emit('chat', {"pseudo": myPseudo, "message": msg.value});

				const msgPost = document.createElement('div');	// POSTING MSG
				msgPost.setAttribute('class','message');

				const pseudo = document.createElement('span');
				pseudo.setAttribute('class','pseudo');
				pseudo.textContent = myPseudo;

				const content = document.createElement('span');
				content.setAttribute('class','content');
				content.textContent = msg.value;

				msg.value = '';

				msgPost.appendChild(pseudo);
				msgPost.appendChild(content);
				appendMsgContainer(msgPost);
			}
		});
	})();
</script>
</body>
</html>