<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EJS Template test</title>
</head>
<body>
	<%
	const allValLen = val.length;
	for(let i=0; i<allValLen; i++){
	%>
	<p><%= val[i] %></p> <!-- Use variable with EJS -->
	<%}%>
</body>
</html>