#message {
	display: none;
}

#chat {
	display: none;
	border: 1px black solid;
	height: 500px;
	width: 100%;
}
.message {
	margin-bottom: 5px;
	width: 100%;
}
.date {
	font-size: 10px;
	margin-right: 5px;
}
.login {
	font-style: italic;
}
.pseudo {
	margin-right: 5px;
	font-weight: bold;
}
.content {
}